body{
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* typography */
h1, h3{
    margin: 0;
}
h1{
    color: whitesmoke;
    font-size: 36px;
}

h2{
    margin-top: 0;
}

h3{
    color: #d0aaff;
    font-size: 20px;
}

p{
    line-height: 23px;
}

/* links */

a{
    color: #ef5839;
}

a:hover,a:active{
    color: #d4b44c;
}

.btn-dark{
    background-color: #5f29a3;
    color: whitesmoke;
}

.btn-mid{
    background-color: #f0e0ff;
    color: #5f29a3;
}

.btn-light{
    background-color: whitesmoke;
    color: #5f29a3
}

.btns{
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}

.btns:hover,
.btns:active{
    background-color: #f3e885;
    color: #2b283a;
}


/* layout */

header{
    background-color: #5f29a3;
    padding: 45px 0;
}


section{
    padding: 45px 0;
}

.sec-two{
    background-color: #5f29a3;
    color: whitesmoke;
}

.container{
    width: 620px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.main-image{
    width:100%;
}

.sec-two-img-container{
    display: flex;
    justify-content: space-between;
}

.sec-two-img{
    width: 300px;
    border-radius: 4.6px;
}

footer{
    text-align: center;
    padding: 45px 0;
    color: #5f29a3;
}